.searchbar{
    display: flex;
    position: relative;
    width: 100%;
    height: 42px;
    margin: 8px 0px;
    .icon-my-location{
        width: 50px;
        height: 100%;
        background-color: white;
        border-radius: 3px;
        box-shadow: .5px .5px 5px;
        cursor: pointer;
    }
    .search-text{
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        padding: 12px 16px;
        font-weight: bold;
        border-radius: 3px 0px 0px 3px;
        box-shadow: .5px .5px 5px;
    }
    .search-click{
        height: 100%;
        width: 36px;
        background-color: white;
        outline: none;
        border: none;
        text-decoration: none;
        cursor: pointer;
        border-radius: 0px 3px 3px 0px;
        box-shadow: 1px 1px 5px;
        .icon-search{
            margin: 0px;
            width: 36px;
            height: 36px;
            fill: #9aaaae;
            transition: all .3s ease;
        }
        &:hover{
            .icon{
                fill: #292929;
            }
        }
    }
    .login-div{
        margin-left: 3%;
        .login-click{
            height: 100%;
            width: 50px;
            background-color: white;
            outline: none;
            border: none;
            text-decoration: none;
            cursor: pointer;
            border-radius: 3px;
            box-shadow: black 1px 1px 5px;
        }
    }
}