.check-button{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 15px;
    width: 80px;
    height: 80px;
    border-radius: none;
    background-color: lightseagreen;
    border-radius: 50%;
    padding: 4px;
    z-index: 1000;
    cursor: pointer;
    box-shadow: 1px 1px 3px;
    > svg{
        width:100%; height: 100%;
        path{fill: #FFF;}
    }
}