.sportscar {
    display: flex;
    width: 100%;
    justify-content: center;
    .bugatti {
        z-index: 3000;
        top: 40%;
        max-width: 600px;
        position: absolute;
        transition: all 0.2s ease-in-out;
        &:hover {
            cursor: pointer;
        }
        &:active {
            transform: scale(0.9);
        }
        .bugatti_body {
            width: 100%;
            height: 100%;
        }
        .bugatti_tire {
            position: absolute;
            width: 17%;
            height: 57%;
            top: 44%;
            left: 12%;
        }
        .bugatti_tire2 {
            position: absolute;
            width: 17%;
            height: 57%;
            top: 44%;
            right: 8%;
        }
        .loading {
            animation: rotate_image 0.3s ease-in-out infinite;
        }
    }
    .status{
        z-index: 3000;
        position: absolute;
        top: 35%;
        display: flex;
        justify-content: center;
        opacity: 0;
        justify-content: center;
        pointer-events: none;
        > svg{
            width: 70%; height: 70%;
        }
    }
    .success{
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
        pointer-events: auto;
    }
    .failure{
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
        pointer-events: auto;
        .show-result{
            z-index: 3000;
            position: absolute;
            top: 110%;
            width: 80%; height: 20%;
            font-weight: bold;
            border: 1px solid #FFF;
            color: #FFF;
            font-size: 20px;
        }
    }
}
@keyframes rotate_image {
    100% {
        transform: rotate(-360deg);
    }
}