.park-swiper-container{
    position: absolute;
    width: 95%;
    height: 100%;
    top: 0px;
    background-color: white;
    z-index: 3000;
    box-shadow: 1px 1px 3px;
    transition: all .3s ease-in;
    border-radius: 24px;
    margin: 0 2.5%;
    padding: 8px 0px;
    .swiper-header{
        display: flex;
        justify-content: space-between;
        padding: 4px 8px;
        height: 10%;
        
        .swiper-down-button{
            width: 48px;
            height: 48px;
            cursor: pointer;
            .icon{
                width: 100%;
                height: 100%;
            }
        }
    }
    .parkloc-swiper{
        width: 100%;
        height: 90%;
        .swiper-pagination{
            display: flex;
            justify-content: center;
            min-width: 310px;
            height: 36px;
            cursor: pointer;
            text-align: center;
            border-bottom: 1px solid black;
            .swiper-pagination-bullet{
                padding: 3px;
                display: inline-block;
                width: 33%;
                margin: 3px;
            }
            .swiper-pagination-bullet-active{
                font-weight: bold;
                border-bottom: 3px solid black;
            }
        }
    }
    .parkloc-swiper-list{
        overflow-y: scroll;
    }
    .parkloc-swiper-list::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
}

.onSwiper{
    top: 100vh;
    transition: all .3s ease-in;
}